*{
  box-sizing: border-box;
}
body{
  color: #222;
}
img{
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav{
  display: flex;
  gap: 15px;  
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

.authSubmitButton{
  width: 100%;
}

table{
  border-collapse: collapse;
  margin: 30;
  margin-top: 120px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80%;
  margin: 0 auto; /* Set left and right margins to "auto" */
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}


th, td{
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.actionsList {
  margin-right: 5px;
}

a.cfLink {
  color: black;
  text-decoration: none; /* Remove the underline from links */
}

.active-row a {
  color: #009879;
  target: "_blank";
}

.solving-page {
  text-align: center;
}


.problem-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 40px
}

.problem-link:hover {
  /* background-color: #2980b9; */
  background-color: #89ABE3;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 40px;
}

.solved-button {
  width: 240px;
}
